.header h1{
    
    display: inline;
}
.header{
    width: 100%;
    
}
.header button{
    float: right;
}
#footer{
    background-color: black;
    color: yellow;
    font-weight: bold;
    line-height: 3;
    font-size: 20px;
    bottom: 0%;
    position: sticky;
}
.modal-dialog{
    width: 90%;
}
canvas{
    border: 20px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 22px black;
}